<div class="mc-card md-whiteframe-z1">
	<md-toolbar layout="row" class="mc-header md-toolbar-tools">
		<h2>
			<span>Documentation</span>
		</h2>
	</md-toolbar>

	<md-content class="mc-table" layout="column">
		<!-- Cache Status -->
		<div class="mc-row" layout="row" layout-align="start center">
			<div class="mc-icon-text-column" flex="40" flex-align="start center" layout="row">
				<md-icon md-svg-icon="assets/svg/material-icons/ic_extension_black_24px.svg"></md-icon>
				<code flex>GET /cache/status</code>
			</div>
			<p flex class="mc-description">Returns server version, last update and reachability of the Mendeley API.
			</p>
		</div>
		<md-divider md-inset></md-divider>
		<!-- Cache Entities -->
		<div class="mc-row" layout="row" layout-align="start center">
			<div class="mc-icon-text-column" flex="40" flex-align="start center" layout="row">
				<md-icon md-svg-icon="assets/svg/material-icons/ic_extension_black_24px.svg"></md-icon>
				<code flex>GET /cache/entities</code>
			</div>
			<p flex class="mc-description">Returns the number of entities in the different database tables <code>profile</code>, <code>document</code>, <code>cache_profile</code>, <code>cache_profile_has_cache_document</code>, <code>cache_document</code>, <code>cache_document_has_cache_field</code> and <code>cache_field</code>.
			</p>
		</div>
		<md-divider md-inset></md-divider>
		<!-- Cache Update -->
		<div class="mc-row" layout="row" layout-align="start center">
			<div class="mc-icon-text-column" flex="40" flex-align="start center" layout="row">
				<md-icon md-svg-icon="assets/svg/material-icons/ic_extension_black_24px.svg"></md-icon>
				<code flex>POST /cache/update</code>
			</div>
			<p flex class="mc-description">Triggers the cache synchronization and returns an entity report. The report contains <code>profiles</code>, <code>documents</code>, <code>unified_profiles</code>, <code>unified_documents</code>, <code>fields</code> and <code>field_associations</code>.
			</p>
		</div>
		<md-divider></md-divider>
		<!-- Fields -->
		<div class="mc-row" layout="row" layout-align="start center">
			<div class="mc-icon-text-column" flex="40" flex-align="start center" layout="row">
				<md-icon md-svg-icon="assets/svg/material-icons/ic_extension_black_24px.svg"></md-icon>
				<code flex>GET /fields</code>
			</div>
			<p flex class="mc-description">
				Returns all research fields that have been identified by the crawler.
				The crawler checks the tags that have been added to a Mendeley publication and merges small spelling variations.
				Thereby, the original tag is internally trimmed, converted to lowercase and some special characters are removed.
				Only whitespace and minus are allowed as delimiter between words.
				(e.g. <code>cyber-physical.,:  Systems</code> becomes <code>Cyber-Physical Systems</code>)
			</p>
		</div>
		<md-divider></md-divider>
		<!-- Profiles -->
		<div class="mc-row" layout="row" layout-align="start center">
			<div class="mc-icon-text-column" flex="40" flex-align="start center" layout="row">
				<md-icon md-svg-icon="assets/svg/material-icons/ic_extension_black_24px.svg"></md-icon>
				<code flex>GET /profiles</code>
			</div>
			<p flex class="mc-description">
				Given the optional parameters <code>profiles</code> and <code>fields</code>, returns all Mendeley Profiles that are associated with either a profile id OR a field id. The crawler only caches those profiles that belong to the configured Mendeley Research Group. If you pass the parameter <code>slim=true</code>, the result will only include <code>name</code>, <code>id</code> and <code>cnt</code>.
			</p>
		</div>
		<md-divider></md-divider>
		<!-- Publications -->
		<div class="mc-row" layout="row" layout-align="start center">
			<div class="mc-icon-text-column" flex="40" flex-align="start center" layout="row">
				<md-icon md-svg-icon="assets/svg/material-icons/ic_extension_black_24px.svg"></md-icon>
				<code flex>GET /documents</code>
			</div>
			<p flex class="mc-description">
				Given the optional parameters <code>profiles</code> and <code>fields</code>, returns all documents that are associated with a profile id AND a field id.
				(e.g. <code>?profiles=abc,cde&fields=efg,hij</code> returns all documents of the users <code>abc</code> and <code>cde</code> that are associated with either the field <code>efg</code> or the field <code>hij</code>)
			</p>
		</div>
	</md-content>
</div>