<div class="mc-card md-whiteframe-z1">
	<md-toolbar layout="row" class="md-toolbar-tools mc-header">
		<h2>
	        <span>Publication Query</span>
	    </h2>
	    <span flex></span>
	    <div class="mc-card-loading-wrapper">
		    <md-progress-circular
		    	ng-if="client.loadingData"
		    	md-diameter="16"
		    	md-mode="indeterminate"></md-progress-circular>
	    </div>
    </md-toolbar>

	<md-content layout="column">
		<div class="md-padding">
			<!-- Profile filter BEGIN -->
			<md-chips
				class="mc-buttonchips mc-buttonchips-fst"
				ng-model="client.selectedProfiles">
				<!-- Autocomplete BEGIN -->
				<md-autocomplete
					md-menu-class="mc-chip-autocomplete-tmpl"
					md-autoselect="true"
					md-selected-item="client.selectedProfile"
					md-search-text="client.profileSearchText"
					md-items="profile in client.getProfileMatches()"
					md-item-text="profile.name"
					placeholder="Filter by names">
					<md-item-template>
						<div layout="row">
							<span
								flex
								class="item-title"
								md-highlight-text="client.profileSearchText">
								{{profile.name}}
							</span>
							<span>{{ profile.cnt }}</span>
							<md-icon
								md-svg-icon="assets/svg/material-icons/ic_link_black_24px.svg">
							</md-icon>
						</div>
					</md-item-template>
					<md-not-found>No matches found</md-not-found>
				</md-autocomplete>
				<!-- Autocomplete END -->
				<md-chip-template>
					<span>{{ $chip.name }}</span>
				</md-chip-template>
				<button md-chip-remove class="md-primary">
					<md-icon md-svg-src="assets/svg/material-icons/ic_close_white_24px.svg"></md-icon>
				</button>
			</md-chips>
			<!-- Profile filter END -->

			<!-- Research field filter BEGIN -->
			<md-chips
				class="mc-buttonchips"
				ng-model="client.selectedFields"
				>
				<!-- Autocomplete BEGIN -->
				<md-autocomplete
					md-menu-class="mc-chip-autocomplete-tmpl"
					md-autoselect="true"
					md-selected-item="client.selectedField"
					md-search-text="client.fieldSearchText"
					md-items="field in client.getFieldMatches()"
					md-item-text="field.title"
					placeholder="Filter by research fields">
					<md-item-template>
						<div layout="row">
							<span
								flex
								class="item-title"
								md-highlight-text="client.fieldSearchText">
								{{ field.title }}
							</span>
							<span>{{ field.cnt }}</span>
							<md-icon
								md-svg-icon="assets/svg/material-icons/ic_link_black_24px.svg">
							</md-icon>
						</div>
					</md-item-template>
					<md-not-found>No matches found</md-not-found>
				</md-autocomplete>
				<!-- Autocomplete END -->
				<md-chip-template>
					<span>{{ $chip.title }}</span>
				</md-chip-template>
				<button md-chip-remove class="md-primary">
					<md-icon md-svg-src="assets/svg/material-icons/ic_close_white_24px.svg"></md-icon>
				</button>
			</md-chips>
			<!-- Research field filter END -->
		</div>

		<md-toolbar class="mc-actionbar md-toolbar-tools" layout="row">
			<span flex></span>
			<md-button aria-label="label" class="md-icon-button">
				<md-icon md-svg-src="assets/svg/material-icons/ic_link_black_24px.svg"></md-icon>
			</md-button>
			<md-button aria-label="label" class="md-icon-button">
				<md-icon md-svg-src="assets/svg/material-icons/ic_visibility_black_24px.svg"></md-icon>
			</md-button>
			<md-button aria-label="photo" class="md-icon-button">
				<md-icon md-svg-src="assets/svg/material-icons/ic_file_download_black_24px.svg"></md-icon>
			</md-button>
    	</md-toolbar>
		
	</md-content>
</div>