<div class="mc-card md-whiteframe-z1">
	<md-toolbar layout="row" class="mc-header md-toolbar-tools">
		<h2>
	        <span>Documents</span>
	    </h2>
	    <span flex></span>
	    <div class="mc-card-loading-wrapper">
		    <md-progress-circular
		    	ng-if="documents.loadingData"
		    	md-diameter="16"
		    	md-mode="indeterminate"></md-progress-circular>
	    </div>
    </md-toolbar>
	<md-content layout="column">

		<!-- Filters BEGIN -->
		<div class="md-padding">
			<!-- Profile filter BEGIN -->
			<md-chips
				class="mc-buttonchips mc-buttonchips-fst"
				ng-model="documents.selectedProfileFilters">
				<!-- Autocomplete BEGIN -->
				<md-autocomplete
					md-menu-class="mc-chip-autocomplete-tmpl"
					md-autoselect="true"
					md-selected-item="documents.selectedProfileFilter"
					md-search-text="documents.profileFilterSearchText"
					md-items="profile in documents.getProfileFilterMatches()"
					md-item-text="profile.name"
					placeholder="Filter by authors">
					<md-item-template>
						<div layout="row">
							<span
								flex
								class="item-title"
								md-highlight-text="documents.profileFilterSearchText">
								{{profile.name}}
							</span>
							<span>{{ profile.cnt }}</span>
							<md-icon
								md-svg-icon="assets/svg/material-icons/ic_link_black_24px.svg">
							</md-icon>
						</div>
					</md-item-template>
					<md-not-found>No matches found</md-not-found>
				</md-autocomplete>
				<!-- Autocomplete END -->
				<md-chip-template>
					<span>{{ $chip.name }}</span>
				</md-chip-template>
				<button md-chip-remove class="md-primary">
					<md-icon md-svg-src="assets/svg/material-icons/ic_close_white_24px.svg"></md-icon>
				</button>
			</md-chips>
			<!-- Profile filter END -->

			<!-- Research field filter BEGIN -->
			<md-chips
				class="mc-buttonchips"
				ng-model="documents.selectedFieldFilters"
				>
				<!-- Autocomplete BEGIN -->
				<md-autocomplete
					md-menu-class="mc-chip-autocomplete-tmpl"
					md-autoselect="true"
					md-selected-item="documents.selectedFieldFilter"
					md-search-text="documents.fieldFilterSearchText"
					md-items="field in documents.getFieldFilterMatches()"
					md-item-text="field.title"
					placeholder="Filter by research fields">
					<md-item-template>
						<div layout="row">
							<span
								flex
								class="item-title"
								md-highlight-text="documents.fieldFilterSearchText">
								{{ field.title }}
							</span>
							<span>{{ field.cnt }}</span>
							<md-icon
								md-svg-icon="assets/svg/material-icons/ic_link_black_24px.svg">
							</md-icon>
						</div>
					</md-item-template>
					<md-not-found>No matches found</md-not-found>
				</md-autocomplete>
				<!-- Autocomplete END -->
				<md-chip-template>
					<span>{{ $chip.title }}</span>
				</md-chip-template>
				<button md-chip-remove class="md-primary">
					<md-icon md-svg-src="assets/svg/material-icons/ic_close_white_24px.svg"></md-icon>
				</button>
			</md-chips>
			<!-- Research field filter END -->
		</div>
		<!-- Filter END -->

		<!-- Documents BEGIN -->
        <md-data-table-container class="mc-data-table">
          <table
          	md-data-table class="md-primary">
            <thead
            	md-order="documents.order"
            	md-trigger="documents.onOrderChange">
				<tr>
					<th order-by="title" name="Title"></th>
					<th name="Tags"></th>
					<th order-by="pub_year" name="Year"></th>
				</tr>
            </thead>
            <tbody>
				<tr class="mc-data-table-row"
					md-auto-select
					ng-repeat="document in documents.data"
					ng-click="documents.selectDocument($event, document)">
					<td>{{document.title}}</td>
					<td ng-class="tagcount == 0 ? 'mc-color-unfocused' : ''">
						{{ tagcount = (document.tags | splitByCommaLength) }}
					</td>
					<td>{{document.pub_year}}</td>
				</tr>
            </tbody>
          </table>
        </md-data-table-container>

        <div 
        	class="mc-actionbar-transparent"
        	layout="row"
        	layout-align="center center">
        	<div>
	        	<md-button
	        		class="mc-icon-button"
	        		aria-label="Embed"
	        		ng-click="documents.embedQuery($event)">
	        		<md-icon md-svg-icon="assets/svg/material-icons/ic_link_black_24px.svg"></md-icon>
	        	</md-button>
        	</div>
        	<div>
	        	<md-button
	        		class="mc-icon-button"
	        		aria-label="Sample"
	        		ng-click="">
	        		<md-icon md-svg-icon="assets/svg/material-icons/ic_visibility_black_24px.svg"></md-icon>
	        	</md-button>
        	</div>
			<span flex></span>
	        <md-data-table-pagination
	        	class="mc-kill-borders"
	        	md-row-select="[6,12,18]"
	        	md-limit="documents.limit"
	        	md-page="documents.page"
	        	md-total="{{documents.dataCount}}">
	        </md-data-table-pagination>
        </div>
        <!-- Documents END -->


	</md-content>
</div>
