<div class="mc-card md-whiteframe-z1">
	<md-toolbar layout="row" class="mc-header md-toolbar-tools">
		<h2>
	        <span>Documents</span>
	    </h2>
	    <span flex></span>
	    <div class="mc-card-loading-wrapper">
		    <md-progress-circular
		    	ng-if="documents.loadingData"
		    	md-diameter="16"
		    	md-mode="indeterminate"></md-progress-circular>
	    </div>
    </md-toolbar>
	<md-content layout="column">
        <md-data-table-container>
          <table
          	md-data-table class="md-primary">
            <thead
            	md-order="documents.order"
            	md-trigger="documents.onOrderChange">
				<tr>
					<th order-by="title" name="Title"></th>
					<th name="Tags"></th>
					<th order-by="pub_year" name="Year"></th>
				</tr>
            </thead>
            <tbody>
				<tr class="mc-pub-doc-table-row"
					md-auto-select
					ng-repeat="document in documents.data"
					ng-click="documents.selectDocument($event, document)">
					<td>{{document.title}}</td>
					<td ng-class="tagcount == 0 ? 'mc-color-unfocused' : ''">
						{{ tagcount = (document.tags | splitByCommaLength) }}
					</td>
					<td>{{document.pub_year}}</td>
				</tr>
            </tbody>
          </table>
        </md-data-table-container>

        <md-data-table-pagination
        	md-limit="documents.limit"
        	md-page="documents.page"
        	md-total="{{documents.totalNumberDocuments}}"
        	md-trigger="documents.onPageChange">
        </md-data-table-pagination>
	</md-content>
</div>