<div class="mc-card md-whiteframe-z1">
	<md-toolbar layout="row" class="mc-header md-toolbar-tools">
		<h2>
	        <span>Documents</span>
	    </h2>
	    <span flex></span>
	    <md-button class="md-icon-button" aria-label="More">
            <md-icon md-svg-icon="assets/svg/material-icons/ic_refresh_black_24px.svg"></md-icon>
        </md-button>
    </md-toolbar>
	<md-content layout="column">
        <md-data-table-container>
          <table
          	md-data-table class="md-primary" 
          	md-progress="documents.deferred">
            <thead
            	md-order="documents.query.order"
            	md-trigger="documents.onOrderChange">
				<tr>
					<th order-by="title" name="Title"></th>
					<th order-by="source" name="Source"></th>
					<th unit="" order-by="year" name="Year"></th>
				</tr>
            </thead>
            <tbody>
				<tr class="mc-pub-doc-table-row"
					md-auto-select
					ng-repeat="
						document in documents.documents.data |
						orderBy: documents.query.order |
						limitTo: documents.query.limit :
								(documents.query.page - 1) * documents.query.limit">
					<td>{{document.title}}</td>
					<td>{{document.source}}</td>
					<td>{{document.year}}</td>
				</tr>
            </tbody>
          </table>
        </md-data-table-container>

        <md-data-table-pagination
        	md-limit="documents.query.limit"
        	md-page="documents.query.page"
        	md-total="{{documents.documents.count}}"
        	md-trigger="documents.onPageChange">
        </md-data-table-pagination>
	</md-content>
</div>