<div class="card md-whiteframe-z1" ng-controller="PublicationsCtrl as ctrl">
	<md-toolbar layout="row" class="md-toolbar-tools header">
		<h2>
	        <span>Publication Query</span>
	    </h2>
	    <span flex></span>
	    <md-button 
	    	class="md-icon-button"
	    	aria-label="More"
	    	ng-click="ctrl.dropdown = !ctrl.dropdown">
            <md-icon md-svg-icon="assets/svg/material-icons/ic_code_black_24px.svg"></md-icon>
        </md-button>
    </md-toolbar>

    <!-- Code Dropdown BEGIN -->
    <md-content class="dropdown" layout="column" layout-align="center start" ng-show="ctrl.dropdown">
<pre><code>Protocol: HTTPS
Method: GET
Base: dockerbruegge1.informatik.tu-muenchen.de
Port: 34234
Path: /publications
Query:
	?authors=
		109235295092345,
		934850932485930
	&fields=
		20s394ip2o34oi2</code></pre>
    </md-content>
    <!-- Code Dropdown END -->

	<md-content layout="column">
		<div class="md-padding">
			<!-- Author filter BEGIN -->
			<md-chips
				class="buttonchips buttonchips-fst"
				ng-model="ctrl.selectedAuthors">
				<!-- Autocomplete BEGIN -->
				<md-autocomplete
					md-autoselect="true"
					md-selected-item="ctrl.selectedAuthor"
					md-search-text="ctrl.authorSearchText"
					md-items="author in ctrl.getAuthorMatches()"
					md-item-text="author.name"
					placeholder="Filter by authors">
					<md-item-template>
						<span md-highlight-text="ctrl.authorSearchText">{{author.name}}</span>
					</md-item-template>
					<md-not-found>No matches found</md-not-found>
				</md-autocomplete>
				<!-- Autocomplete END -->
				<md-chip-template>
					<span>{{$chip.name}}</span>
				</md-chip-template>
				<button md-chip-remove class="md-primary">
					<md-icon md-svg-src="assets/svg/material-icons/ic_close_white_24px.svg"></md-icon>
				</button>
			</md-chips>
			<!-- Author filter END -->

			<!-- Research field filter BEGIN -->
			<md-chips
				class="buttonchips"
				ng-model="ctrl.selectedFields"
				>
				<!-- Autocomplete BEGIN -->
				<md-autocomplete
					md-autoselect="true"
					md-selected-item="ctrl.selectedField"
					md-search-text="ctrl.fieldSearchText"
					md-items="field in ctrl.getFieldMatches()"
					md-item-text="field.name"
					placeholder="Filter by research fields">
					<md-item-template>
						<span md-highlight-text="ctrl.fieldSearchText">{{field.name}}</span>
					</md-item-template>
					<md-not-found>No matches found</md-not-found>
				</md-autocomplete>
				<!-- Autocomplete END -->
				<md-chip-template>
					<span>{{$chip.name}}</span>
				</md-chip-template>
				<button md-chip-remove class="md-primary">
					<md-icon md-svg-src="assets/svg/material-icons/ic_close_white_24px.svg"></md-icon>
				</button>
			</md-chips>
			<!-- Research field filter END -->
		</div>

		<md-toolbar class="actionbar md-toolbar-tools" layout="row">
			<span flex></span>
			<md-button aria-label="label" class="md-icon-button">
				<md-icon md-svg-src="assets/svg/material-icons/ic_link_black_24px.svg"></md-icon>
			</md-button>
			<md-button aria-label="photo" class="md-icon-button">
				<md-icon md-svg-src="assets/svg/material-icons/ic_file_download_black_24px.svg"></md-icon>
			</md-button>
			<md-button aria-label="comment" class="md-icon-button">
				<md-icon md-svg-src="assets/svg/material-icons/ic_send_black_24px.svg"></md-icon>
			</md-button>
    	</md-toolbar>
		
	</md-content>
</div>