<div class="mc-card md-whiteframe-z1">
	<md-toolbar layout="row" class="mc-header md-toolbar-tools">
		<h2>
	        <span>General</span>
	    </h2>
	    <span flex></span>
	    <md-button class="md-icon-button" aria-label="More">
            <md-icon md-svg-icon="assets/svg/material-icons/ic_refresh_black_24px.svg"></md-icon>
        </md-button>
    </md-toolbar>
	<md-content layout="column">
		<div class="mc-linechart">
			<canvas
				class="mc-chart chart-line"
				data="statistics.linechart.data"
			  	labels="statistics.linechart.labels"
			  	legend="true"
			  	series="statistics.linechart.series"
			  	options="statistics.linechart.options"
			  	colours="statistics.linechart.colours"
			  	height="180">
			</canvas> 
		</div>
		<div class="mc-table">
			<!-- Authors -->
			<md-divider md-inset></md-divider>
			<div class="mc-row" layout="row">
				<div class="mc-icon-text-column" flex="50" flex-align="start center" layout="row">
					<md-icon md-svg-icon="assets/svg/material-icons/ic_create_black_24px.svg"></md-icon>
					<p flex>Authors</p>
				</div>
				<p flex>23</p>
			</div>
			<!-- Publications -->
			<md-divider md-inset></md-divider>
			<div class="mc-row" layout="row">
				<div class="mc-icon-text-column" flex="50" flex-align="start center" layout="row">
					<md-icon md-svg-icon="assets/svg/material-icons/ic_description_black_24px.svg"></md-icon>
					<p flex>Publications</p>
				</div>
				<p flex>124</p>
			</div>
			<!-- Research fields -->
			<md-divider md-inset></md-divider>
			<div class="mc-row" layout="row">
				<div class="mc-icon-text-column" flex="50" flex-align="start center" layout="row">
					<md-icon md-svg-icon="assets/svg/material-icons/ic_label_black_24px.svg"></md-icon>
					<p flex>Research fields</p>
				</div>
				<p flex>12</p>
			</div>
			<!-- API calls -->
			<md-divider md-inset></md-divider>
			<div class="mc-row" layout="row">
				<div class="mc-icon-text-column" flex="50" flex-align="start center" layout="row">
					<md-icon md-svg-icon="assets/svg/material-icons/ic_equalizer_black_24px.svg"></md-icon>
					<p flex>API calls</p>
				</div>
				<p flex>1.245</p>
				<p class="mc-padding-right-24">in 7 weeks</p>
			</div>
			<!-- File downloads -->
			<md-divider md-inset></md-divider>
			<div class="mc-row" layout="row">
				<div class="mc-icon-text-column" flex="50" flex-align="start center" layout="row">
					<md-icon md-svg-icon="assets/svg/material-icons/ic_file_download_black_24px.svg"></md-icon>
					<p flex>File downloads</p>
				</div>
				<p flex>321</p>
				<p class="mc-padding-right-24">in 7 weeks</p>
			</div>
			<!-- BibTex downloads -->
			<md-divider md-inset></md-divider>
			<div class="mc-row" layout="row">
				<div class="mc-icon-text-column" flex="50" flex-align="start center" layout="row">
					<md-icon md-svg-icon="assets/svg/material-icons/ic_link_black_24px.svg"></md-icon>
					<p flex>BibTeX downloads</p>
				</div>
				<p flex>256</p>
				<p class="mc-padding-right-24">in 7 weeks</p>
			</div>
		</div>
	</md-content>
</div>