<div class="mc-card md-whiteframe-z1">
	<md-toolbar layout="row" class="mc-header md-toolbar-tools">
		<h2>
	        <span>Status</span>
	    </h2>
	    <span flex></span>
	    <md-button class="md-icon-button" aria-label="More">
            <md-icon md-svg-icon="assets/svg/material-icons/ic_refresh_black_24px.svg"></md-icon>
        </md-button>
    </md-toolbar>

	<md-content class="mc-table" layout="column">
		<!-- Client version -->
		<div class="mc-row" layout="row">
			<div class="mc-icon-text-column" flex="50" flex-align="start center" layout="row">
				<md-icon md-svg-icon="assets/svg/material-icons/ic_web_black_24px.svg"></md-icon>
				<p flex>Client version</p>
			</div>
			<p flex>0.0.1</p>
		</div>
		<md-divider md-inset></md-divider>
		<!-- Server version -->
		<div class="mc-row" layout="row">
			<div class="mc-icon-text-column" flex="50" flex-align="start center" layout="row">
				<md-icon md-svg-icon="assets/svg/material-icons/ic_cloud_black_24px.svg"></md-icon>
				<p flex>Server version</p>
			</div>
			<p flex>0.0.1</p>
		</div>
		<md-divider md-inset></md-divider>
		<!-- Mendeley API -->
		<div class="mc-row" layout="row">
			<div class="mc-icon-text-column" flex="50" flex-align="start center" layout="row">
				<md-icon md-svg-icon="assets/svg/material-icons/ic_extension_black_24px.svg"></md-icon>
				<p flex>Mendeley API</p>
			</div>
			<p flex>Online</p>
		</div>
		<md-divider md-inset></md-divider>
		<!-- Mendeley Group -->
		<div class="mc-row" layout="row">
			<div class="mc-icon-text-column" flex="50" flex-align="start center" layout="row">
				<md-icon md-svg-icon="assets/svg/material-icons/ic_group_work_black_24px.svg"></md-icon>
				<p flex>Research Group</p>
			</div>
			<p flex>4151321</p>
		</div>
		<md-divider md-inset></md-divider>
		<!-- Uptime -->
		<div class="mc-row" layout="row">
			<div class="mc-icon-text-column" flex="50" flex-align="start center" layout="row">
				<md-icon md-svg-icon="assets/svg/material-icons/ic_access_time_black_24px.svg"></md-icon>
				<p flex>Uptime</p>
			</div>
			<p flex>25 days</p>
		</div>
		<md-divider md-inset></md-divider>
		<!-- Last update -->
		<div class="mc-row" layout="row">
			<div class="mc-icon-text-column" flex="50" flex-align="start center" layout="row">
				<md-icon md-svg-icon="assets/svg/material-icons/ic_timelapse_black_24px.svg"></md-icon>
				<p flex>Last update</p>
			</div>
			<p flex>2 hours ago</p>
		</div>
		<md-divider md-inset></md-divider>
		<!-- Log size -->
		<div class="mc-row" layout="row">
			<div class="mc-icon-text-column" flex="50" flex-align="start center" layout="row">
				<md-icon md-svg-icon="assets/svg/material-icons/ic_archive_black_24px.svg"></md-icon>
				<p flex>Log size</p>
			</div>
			<p flex>12.3 MB</p>
		</div>
	</md-content>
</div>