<div>
	<div class="card md-whiteframe-z1">
		<md-toolbar layout="row" class="header md-toolbar-tools">
			<h2>
		        <span>Server Status</span>
		    </h2>
		    <span flex></span>
		    <md-button class="md-icon-button" aria-label="More">
	            <md-icon md-svg-icon="assets/svg/material-icons/ic_refresh_black_24px.svg"></md-icon>
	        </md-button>
	    </md-toolbar>

		<md-content>
			<div class="status-table" layout="column">
				<div class="row" layout="row">
					<div class="icon-text-column" flex="50" flex-align="start center" layout="row">
						<md-icon md-svg-icon="assets/svg/material-icons/ic_track_changes_black_24px.svg"></md-icon>
						<p flex>Last update</p>
					</div>
					<p flex>2 hours ago</p>
				</div>
				<md-divider md-inset></md-divider>
				<div class="row" layout="row">
					<div class="icon-text-column" flex="50" flex-align="start center" layout="row">
						<md-icon md-svg-icon="assets/svg/material-icons/ic_access_time_black_24px.svg"></md-icon>
						<p flex>Uptime</p>
					</div>
					<p flex>25 days</p>
				</div>
				<md-divider md-inset></md-divider>
				<div class="row" layout="row">
					<div class="icon-text-column" flex="50" flex-align="start center" layout="row">
						<md-icon md-svg-icon="assets/svg/material-icons/ic_equalizer_black_24px.svg"></md-icon>
						<p flex>API Calls</p>
					</div>
					<p flex>256</p>
				</div>
				<md-divider md-inset></md-divider>
				<div class="row" layout="row">
					<div class="icon-text-column" flex="50" flex-align="start center" layout="row">
						<md-icon md-svg-icon="assets/svg/material-icons/ic_storage_black_24px.svg"></md-icon>
						<p flex>MySQL</p>
					</div>
					<p flex>Online</p>
				</div>
				<md-divider md-inset></md-divider>
				<div class="row" layout="row">
					<div class="icon-text-column" flex="50" flex-align="start center" layout="row">
						<md-icon md-svg-icon="assets/svg/material-icons/ic_extension_black_24px.svg"></md-icon>
						<p flex>Mendeley API</p>
					</div>
					<p flex>Online</p>
				</div>
			</div>
		</md-content>
	</div>


	<div class="card md-whiteframe-z1">
		<md-toolbar layout="row" class="header md-toolbar-tools">
			<h2>
		        <span>Statistics</span>
		    </h2>
		    <span flex></span>
		    <md-button class="md-icon-button" aria-label="More">
	            <md-icon md-svg-icon="assets/svg/material-icons/ic_refresh_black_24px.svg"></md-icon>
	        </md-button>
	    </md-toolbar>
		<md-content>
			<div layout-padding>
				<h2></h2>
			</div>
			<md-divider md-inset></md-divider>
			<div layout-padding>
				<h2></h2>
			</div>
		</md-content>
	</div>
</div>