<div ng-controller="SystemCtrl">
	<div class="card md-whiteframe-z1">
		<md-toolbar layout="row" class="md-toolbar-tools">
			<h2>
		        <span>Server Status</span>
		    </h2>
		    <span flex></span>
		    <md-button class="md-icon-button" aria-label="More">
	            <md-icon md-svg-icon="assets/svg/material-icons/ic_refresh_black_24px.svg"></md-icon>
	        </md-button>
	    </md-toolbar>

		<md-content>
			<div layout-padding>
				<h2></h2>
			</div>
			<md-divider md-inset></md-divider>
			<div layout-padding>
				<h2></h2>
			</div>
		</md-content>
	</div>


	<div class="card md-whiteframe-z1">
		<md-toolbar layout="row" class="md-toolbar-tools">
			<h2>
		        <span>Statistics</span>
		    </h2>
		    <span flex></span>
		    <md-button class="md-icon-button" aria-label="More">
	            <md-icon md-svg-icon="assets/svg/material-icons/ic_refresh_black_24px.svg"></md-icon>
	        </md-button>
	    </md-toolbar>
		<md-content>
			<div layout-padding>
				<h2></h2>
			</div>
			<md-divider md-inset></md-divider>
			<div layout-padding>
				<h2></h2>
			</div>
		</md-content>
	</div>
</div>