<div class="mc-card md-whiteframe-z1">
	<md-toolbar layout="row" class="mc-header md-toolbar-tools">
		<h2>
	        <span>Server Status</span>
	    </h2>
	    <span flex></span>
	    <md-button class="md-icon-button" aria-label="More">
            <md-icon md-svg-icon="assets/svg/material-icons/ic_refresh_black_24px.svg"></md-icon>
        </md-button>
    </md-toolbar>

	<md-content class="mc-table" layout="column">
		<div class="mc-row" layout="row">
			<div class="mc-icon-text-column" flex="50" flex-align="start center" layout="row">
				<md-icon md-svg-icon="assets/svg/material-icons/ic_track_changes_black_24px.svg"></md-icon>
				<p flex>Last update</p>
			</div>
			<p flex>2 hours ago</p>
		</div>
		<md-divider md-inset></md-divider>
		<div class="mc-row" layout="row">
			<div class="mc-icon-text-column" flex="50" flex-align="start center" layout="row">
				<md-icon md-svg-icon="assets/svg/material-icons/ic_access_time_black_24px.svg"></md-icon>
				<p flex>Uptime</p>
			</div>
			<p flex>25 days</p>
		</div>
		<md-divider md-inset></md-divider>
		<div class="mc-row" layout="row">
			<div class="mc-icon-text-column" flex="50" flex-align="start center" layout="row">
				<md-icon md-svg-icon="assets/svg/material-icons/ic_equalizer_black_24px.svg"></md-icon>
				<p flex>API Calls</p>
			</div>
			<p flex>256</p>
		</div>
		<md-divider md-inset></md-divider>
		<div class="mc-row" layout="row">
			<div class="mc-icon-text-column" flex="50" flex-align="start center" layout="row">
				<md-icon md-svg-icon="assets/svg/material-icons/ic_storage_black_24px.svg"></md-icon>
				<p flex>MySQL</p>
			</div>
			<p flex>Online</p>
		</div>
		<md-divider md-inset></md-divider>
		<div class="mc-row" layout="row">
			<div class="mc-icon-text-column" flex="50" flex-align="start center" layout="row">
				<md-icon md-svg-icon="assets/svg/material-icons/ic_extension_black_24px.svg"></md-icon>
				<p flex>Mendeley API</p>
			</div>
			<p flex>Online</p>
		</div>
	</md-content>
</div>

<div class="mc-card md-whiteframe-z1">
	<md-toolbar layout="row" class="mc-header md-toolbar-tools">
		<h2>
	        <span>Downloads</span>
	    </h2>
	    <span flex></span>
	    <md-button class="md-icon-button" aria-label="More">
            <md-icon md-svg-icon="assets/svg/material-icons/ic_refresh_black_24px.svg"></md-icon>
        </md-button>
    </md-toolbar>
	<md-content layout="column">
		<div class="mc-linechart">
			<canvas
				class="mc-chart chart-line"
				data="system.linechart.data"
			  	labels="system.linechart.labels"
			  	legend="true"
			  	series="system.linechart.series"
			  	options="system.linechart.options"
			  	colours="system.linechart.colours"
			  	height="180">
			</canvas> 
		</div>
	</md-content>
</div>