<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Publication Cache</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,400italic'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="assets/app.css"/>
  </head>

  <body
    ng-app="mendeleyCache"
    layout="column" >
    <!-- Toolbar BEGIN -->
    <md-toolbar layout="row" layout-align="center end" class="md-tall md-whiteframe-z2">
      <!-- Center Container BEGIN -->
      <div flex flex-sm="100" flex-gt-sm="95" flex-gt-md="75" layout="column">
        <!-- Top Row BEGIN -->
        <span layout="row" class="md-toolbar-tools">
          <md-icon md-svg-icon="assets/svg/logo_chair.svg" id="chair-logo" ></md-icon>
          <h2>
            <span>Mendeley Cache</span>
          </h2>
          <span flex></span>
          <md-button class="md-icon-button" aria-label="More">
            <md-icon md-svg-icon="assets/svg/material-icons/ic_more_vert_white_24px.svg"></md-icon>
          </md-button>
        </span>
        <!-- Top Row END -->

        <!-- Flex space -->
        <span flex></span>

        <!-- Bottom Row BEGIN -->
        <md-tabs md-stretch-tabs="always" class="md-primary" md-selected="tabs.selectedIndex">
          <md-tab ui-sref="tabs.system">
            <md-tab-label>System</md-tab-label>
          </md-tab>
          <md-tab ui-sref="tabs.client">
            <md-tab-label>Client</md-tab-label>
          </md-tab>
          <md-tab ui-sref="tabs.docs">
            <md-tab-label>Docs</md-tab-label>
          </md-tab>
        </md-tabs>
        <!-- Bottom Row END -->
      </div>
      <!-- Center Container END -->
    </md-toolbar>
    <!-- Toolbar END -->

    <!-- TabContent BEGIN -->
    <md-content flex class="content" layout="row" layout-align="center start" layout-padding>
        <div ng-if="!stateIsLoading" ui-view flex flex-sm="100" flex-gt-sm="95" flex-gt-md="75"></div>
        <div ng-if="stateIsLoading">Loading...</div>
    </md-content>
    <!-- TabContent END -->


    <!-- Imports -->
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="bower_components/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="bower_components/angular-material/angular-material.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/bower_components/Chart.js/Chart.min.js"></script>
    <script src="/bower_components/angular-chart.js/dist/angular-chart.min.js"></script>

    <!-- Angular application and controllers -->
    <script type="text/javascript" src="src/controllers/client.js"></script>
    <script type="text/javascript" src="src/app.js"></script>
  </body>
</html>
