<md-dialog flex-sm="80" flex-gt-sm="60" flex-gt-md="40" flex-gt-lg="40">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>About</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="hide()">
        <md-icon md-svg-src="assets/svg/material-icons/ic_close_white_24px.svg"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content class="mc-dialog-content">
    <div
      layout="column"
      layout-align="start center">
      <h2>Mendeley Cache</h2>
      <p>Client version:</p>
      <p>Server version:</p>
    </div>
  </md-dialog-content>
</md-dialog>