<md-dialog flex-sm="80" flex-gt-sm="80" flex-gt-md="60" flex-gt-lg="50">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Document</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="hide()">
        <md-icon md-svg-src="assets/svg/material-icons/ic_close_white_24px.svg"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content class="mc-dialog-content">
    <div>
      <h3 class="mc-text-align-center">
        {{ selectedDocument.title }}
      </h3>
      <br>
      <div layout="row">
        <p flex="25" class="mc-right-align-column"><strong>Mendeley ID</strong></p>
        <p flex>{{ selectedDocument.mendeley_id }}</p>
      </div>
      <div layout="row">
        <p flex="25" class="mc-right-align-column"><strong>Authors</strong></p>
        <p flex>{{ selectedDocument.authors }}</p>
      </div>
      <div layout="row">
        <p flex="25" class="mc-right-align-column"><strong>Source</strong></p>
        <p flex>{{ selectedDocument.source || "None" }}</p>
      </div>
      <div layout="row">
        <p flex="25" class="mc-right-align-column"><strong>Type</strong></p>
        <p flex>{{ selectedDocument.doc_type || "None" }}</p>
      </div>
      <div layout="row">
        <p flex="25" class="mc-right-align-column"><strong>Keywords</strong></p>
        <ul ng-if="selectedDocument.keywords">
          <li
            ng-repeat="keyword in splitted = selectedDocument.keywords.split(',')">
            {{ keyword }}
          </li>
        </ul>
        <p ng-if="!selectedDocument.keywords">
          None
        </p>
      </div>
      <div layout="row">
        <p flex="25" class="mc-right-align-column"><strong>Tags</strong></p>
        <ul ng-if="selectedDocument.tags">
          <li
            ng-repeat="tag in splitted = selectedDocument.tags.split(',')">
            {{ tag }}
          </li>
        </ul>
        <p ng-if="!selectedDocument.tags">
          None
        </p>
      </div>
      <div layout="row">
        <p flex="25" class="mc-right-align-column"><strong>Derived Fields</strong></p>
        <!-- Workaround for incompatible ng-repeat as described here:
          https://github.com/angular/material/issues/2829 -->
        <md-chips
          ng-if="derivedFields.length > 0"
          ng-model="derivedFields"
          readonly="true">
        </md-chips>
        <p ng-if="derivedFields.length == 0">
          None
        </p>
      </div>
    </div>
  </md-dialog-content>
</md-dialog>