<md-dialog flex-sm="80" flex-gt-sm="80" flex-gt-md="50" flex-gt-lg="40">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Embed Query</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="hide()" aria-label="Hide">
        <md-icon md-svg-src="assets/svg/material-icons/ic_close_white_24px.svg"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content class="mc-dialog-content mc-padding-32">
      <h3>Script for website:</h3>
      <pre><code>&lt;script
  type="text/javascript"
  language="javascript"
  src="{{baseUrl}}/dist/embed.js"&gt;
&lt;/script&gt;
</code></pre>
<br>
      <h3>Tag for article:</h3>
      <pre><code>&lt;div
  class="mc-documents" 
  data-profileids="{{profileIds}}" 
  data-fieldids="{{fieldIds}}"
  data-orderattr="{{orderAttr}}" 
  data-orderdir="{{orderDir}}"&gt;
&lt;/div&gt;
</code></pre> 
  </md-dialog-content>
</md-dialog>