html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
  background-color:#f6f6f6;
}

#chair-logo {
	height: 50px;
	width: 50px;
	margin-right: 15px;
}
