html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;

  background-color: #efefef;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: .8rem;
    margin-top: .8rem;
}

h2 {
	font-size: 18px;
	font-weight: 400;
}

md-content {
	background-color: transparent;
}

md-tabs.md-primary md-tab-item:not([disabled]) {
	color: #b0b0b0;
}

#chair-logo {
	height: 50px;
	width: 50px;
	margin-right: 15px;
}

.content {
	background-color: transparent;
	z-index:10;
}

.card {
	margin: 8px;
	margin-bottom: 24px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.card .header {
	/* {{primary-color}} */
	background-color: #fcfcfc;
	/* {{primary-contrast}} */
	color: #757575;

	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;

	border-bottom: 1px solid #e3e3e3;
}
.card .header md-icon { /* {{primary-contrast}} */ color: #444; }
.card .md-button { /* {{primary-contrast}} */ color: #444; }
.card md-content {
	background-color: #ffffff;
}

.card .actionbar {
	/* background-color: #002143; */
	background-color: #fcfcfc;
	margin-top: 26px;
	border-top: 1px solid #e3e3e3;
}

.buttonchips md-chips-wrap {
	margin-top: 16px;
}

.buttonchips-fst md-chips-wrap {
	margin-top: 0px !important;
}

.buttonchips .md-chip {
	position: relative;
	font-weight:500;
}

.buttonchips .md-chip-remove-container {
	position: absolute;
    right: 4px;
    top: 4px;
    margin-right: 0!important;
    height: 24px;
}

.buttonchips .md-chip-remove-container button {
	position: relative;
    height: 24px;
    width: 24px;
    line-height: 30px;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    transition: background 0.15s linear;
    display: block;
}

.buttonchips .md-chip-remove-container button:focus, .buttonchips .md-chip-remove-container button:hover {
	background: #002143;
}
.buttonchips .md-chip-remove-container button md-icon {
	position: absolute;
    right: 4px;
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: auto;
    height: auto;
	color: white;
	fill: white;
}

.buttonchips md-chip-template {
    padding-right: 20px; 
}


.card .dropdown {
	background-color: #666;
	color: #fff;
	padding: 20px;
}

.card .dropdown pre {
	margin:0px;
}
